In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/rideshare_kaggle.csv"
ride_data = pd.read_csv(csv_path)

ride_data.head(100)

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ff49381b-9947-4a40-b100-ca58020e0dbe,1.544686e+09,7,13,12,2018-12-13 07:25:10,America/New_York,Fenway,West End,Lyft,...,0.0001,1544720400,18.11,1544688000,33.51,1544731200,14.08,1544688000,32.84,1544731200
96,118a8165-c787-4761-89e5-a17aa5710c75,1.544813e+09,18,14,12,2018-12-14 18:35:09,America/New_York,South Station,Back Bay,Uber,...,0.0000,1544806800,27.18,1544781600,46.65,1544814000,24.51,1544785200,43.86,1544817600
97,14fd1233-8cea-4061-a66a-9a5ecec07f66,1.544953e+09,9,16,12,2018-12-16 09:35:12,America/New_York,South Station,Back Bay,Uber,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
98,2a98223c-db41-4d28-9f8a-f26775b12fd4,1.545103e+09,3,18,12,2018-12-18 03:15:03,America/New_York,South Station,Back Bay,Uber,...,0.0175,1545066000,34.14,1545044400,41.44,1545076800,28.12,1545044400,35.95,1545076800
99,3a2929f1-2310-4c96-8eeb-ca2ed3ad9915,1.543441e+09,21,28,11,2018-11-28 21:35:07,America/New_York,South Station,Back Bay,Uber,...,0.0000,1543420800,33.70,1543399200,42.60,1543438800,29.88,1543399200,36.56,1543435200

In [7]:
#get column names 
column_names = list(ride_data)
column_names

['id',
 'timestamp',
 'hour',
 'day',
 'month',
 'datetime',
 'timezone',
 'source',
 'destination',
 'cab_type',
 'product_id',
 'name',
 'price',
 'distance',
 'surge_multiplier',
 'latitude',
 'longitude',
 'temperature',
 'apparentTemperature',
 'short_summary',
 'long_summary',
 'precipIntensity',
 'precipProbability',
 'humidity',
 'windSpeed',
 'windGust',
 'windGustTime',
 'visibility',
 'temperatureHigh',
 'temperatureHighTime',
 'temperatureLow',
 'temperatureLowTime',
 'apparentTemperatureHigh',
 'apparentTemperatureHighTime',
 'apparentTemperatureLow',
 'apparentTemperatureLowTime',
 'icon',
 'dewPoint',
 'pressure',
 'windBearing',
 'cloudCover',
 'uvIndex',
 'visibility.1',
 'ozone',
 'sunriseTime',
 'sunsetTime',
 'moonPhase',
 'precipIntensityMax',
 'uvIndexTime',
 'temperatureMin',
 'temperatureMinTime',
 'temperatureMax',
 'temperatureMaxTime',
 'apparentTemperatureMin',
 'apparentTemperatureMinTime',
 'apparentTemperatureMax',
 'apparentTemperatureMaxTime']

In [22]:
#clean unnecessary columns
#grabing only 
clean_ride_data = ride_data[[
 'hour',
 'day',
 'month',
 'datetime',
 'source',
 'destination',
 'cab_type',
 'name',
 'price',
 'distance',
 'surge_multiplier',
 'temperature',
 'apparentTemperature',
 'short_summary',
 'long_summary',
 'humidity',
 'windSpeed',
 'windGust',
 'visibility',
 'temperatureHigh',
 'temperatureLow',
 'apparentTemperatureHigh',
 'apparentTemperatureLow',
 'icon',
 'temperatureMin',
 'temperatureMax',
 'apparentTemperatureMin',
 'apparentTemperatureMax']]
clean_ride_data

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,visibility,temperatureHigh,temperatureLow,apparentTemperatureHigh,apparentTemperatureLow,icon,temperatureMin,temperatureMax,apparentTemperatureMin,apparentTemperatureMax
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,10.000,43.68,34.19,37.95,27.39,partly-cloudy-night,39.89,43.68,33.73,38.07
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,4.786,47.30,42.10,43.92,36.20,rain,40.49,47.30,36.20,43.92
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,10.000,47.55,33.10,44.12,29.11,clear-night,35.36,47.55,31.04,44.12
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,10.000,45.03,28.90,38.53,26.20,clear-night,34.67,45.03,30.30,38.53
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,10.000,42.18,36.71,35.75,30.29,partly-cloudy-night,33.10,42.18,29.11,35.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,9.785,44.76,34.83,44.09,35.48,partly-cloudy-night,31.42,44.76,27.77,44.09
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,9.785,44.76,34.83,44.09,35.48,partly-cloudy-night,31.42,44.76,27.77,44.09
693068,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Taxi,NaN,1.00,...,9.785,44.76,34.83,44.09,35.48,partly-cloudy-night,31.42,44.76,27.77,44.09
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,9.785,44.76,34.83,44.09,35.48,partly-cloudy-night,31.42,44.76,27.77,44.09
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,9.785,44.76,34.83,44.09,35.48,partly-cloudy-night,31.42,44.76,27.77,44.09

In [29]:
#group ride data by ride area
df = clean_ride_data.groupby(['cab_type','destination','source'])
df.size()

cab_type  destination  source
Lyft      Back Bay     Boston University          4164
                       Fenway                     4212
                       Haymarket Square           4236
                       North End                  4548
                       Northeastern University    4266
                                                  ...
Uber      West End     Fenway                     5635
                       Haymarket Square           5124
                       North End                  5103
                       Northeastern University    5306
                       South Station              5355
Length: 144, dtype: int64